/*
 Description:  Main site for Tru North Designs, a branding and web-design agency.
 Author:       Austin Davis
 Version:      1.0.0
*/

//Partials Import

@import 'animate';
@import 'mixins';

//Constants | Variables

$font-stack: europa, sans-serif;
$primary-color: #444;
$secondary-color: tomato;

//Delays

.delay-1 {animation-delay:200ms; -moz-animation-delay:200ms; -webkit-animation-delay:200ms;}
.delay-2 {animation-delay:400ms; -moz-animation-delay:400ms; -webkit-animation-delay:400ms;}
.delay-3 {animation-delay:800ms; -moz-animation-delay:800ms; -webkit-animation-delay:800ms;}
.delay-4 {animation-delay:900ms; -moz-animation-delay:900ms; -webkit-animation-delay:900ms;}




/**************************
===========================
Styles
===========================
**************************/

/********************
Defaults
*********************/

html {
	font-family: $font-stack;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: $primary-color;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a, {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
}

/********************
Text Styles
*********************/

h1 {
	pointer-events: none;
	margin-bottom: 4%;
	font-size: 5rem;
}

h2 {
	margin-bottom: 2%;
	font-size: 3em;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/********************
Navigation
*********************/

header {
	height: 75px;
	margin: 0;
	padding: 0 3%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@include flexbox;
	@include flex-direction($value: row);
	@include justify-content($value: space-between);
	@include align-items($value: center);

	#logo {

		svg {
			height: 30px;
			margin: 0;
			fill: $primary-color;
			padding: 5px 10px;
		}
	}

	#navigation {

		ul {
			@include flexbox;
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				margin: 0;
				margin-right: 10px;
				padding: 0;

				a {
					padding: 0px 20px;
					text-decoration: none;
					background-color: rgba(245, 245, 245, 0);
					color: $primary-color;
					font-size: 1.2rem;
					border-radius: 2px;
					-webkit-transition: all 300ms ease-in-out;
    				transition: all 300ms ease-in-out;
				}

				a:hover {
					 background-color: rgba(245, 245, 245, 1);
					 padding: 10px 20px;
				}
			}
			li:last-child {
				margin: 0;
			}
		}

	}
}


/********************
Main
*********************/

main {

	#wrapper {
		padding: 0;
		@include flexbox;
		@include flex-direction($value: column);
		@include justify-content($value: center);
		@include align-items($value: center);


		.container {
			width: 100%;
			height: 1000px;
			@include flexbox;
			@include flex-direction($value: row);
			@include align-items($value: center);
			@include justify-content($value: center);

			div {
				margin: 0;
				padding: 0;
			}

			div:last-of-type {
				margin: 0;
			}

			p {
				pointer-events: none;
				font-size: 2rem;
			}
		}

		.container:first-of-type {
			height: 100vh;
		}

		//heartbeat styles
		#heartbeat {
			background-color: #e01f26;

			h2,
			p {
				color: #fff;
			}

			a {
				text-decoration: none;
			}

			.content:first-of-type {
				margin: 0 -300px 300px 0;
				z-index: 2; //bring above img
			}

			.content {
				@include flexbox;
				@include flex-direction($value: column);
				@include align-items($value: flex-end);
				@include justify-content($value: center);

				.hb-logo{
					width: 150px;
					margin-bottom: 2%;
					padding: 0;
				
					img {
						width: 100%;
						position: relative;
					}
				}

				.description {
					max-width: 550px;

				}

				.cta {
					padding: 5px 10px;
				}


				.hb-icon {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}
	}
}
